* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: rgba(255, 179, 47, 0.754);
    display: flex;
    justify-content: center;
    
}

header ul{
    display: flex;
    width: 100%;
    list-style-type: none;
}

header ul li {
    margin: 0 10px
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
}

label {
    display: block;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 179, 47, 0.754);
    margin-top: auto;
    
}

footer ul {
    list-style-type: none;
}