* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: rgba(255, 179, 47, 0.754);
    display: flex;
    justify-content: center;

}

header ul {
    display: flex;
    width: 100%;
    list-style-type: none;
}

header ul li {
    margin: 0 10px
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.news img {
    height: 20vh;
    border-radius: 2%;
    height: 200px;
    width: 390px;
}

.news {
    padding: 30px;
    width: 500px
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.description ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: flex-end;

}

.description {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.description ul li {
    margin: 0 10px
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 179, 47, 0.754);

}

footer ul {
    list-style-type: none;
}