* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: greenyellow;
}

.news img {
    height: 20vh;
}

.news {
    padding: 30px;
    width: 500px
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.description ul {
    display: flex;
    flex-direction: flex-end;
    width: 100%;
}

.description {
    width: 100%;
}