* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: rgba(255, 179, 47, 0.754);
    display: flex;
    justify-content: center;
    
}

header ul{
    display: flex;
    width: 100%;
    list-style-type: none;
}

header ul li {
    margin: 0 10px
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.up {
    display: flex;
    padding-top: 15px;
}

.top {
    display: flex;
    justify-content: center;
}

.author {
    flex-direction: column;
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.author span {
    display: flex;
    justify-content: center;
}

.author p {
    display: flex;
    justify-content: center;

    width: 50%;
}

.author img {
    display: flex;
   
    width: 50%;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 179, 47, 0.754);
    margin-top: auto;
    
}

footer ul {
    list-style-type: none;
}